---
import Layout from '../layouts/Layout.astro';

import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Economica&family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<main>
		<div class="object-cover w-full max-w-full min-h-[94vh] top-0 flex justify-center items-center">
			<ContactForm />
		</div>
		<Footer />
	</main>
</Layout>
