---
import { Navbar } from '../components/Navbar';
---
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<script
		type="text/partytown"
		src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID">
		</script>
		<script type="text/partytown">
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());
		gtag("config", "GA_MEASUREMENT_ID");
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/DET_Logo0.png" />
		<meta name="generator" content={Astro.generator} />
		<title>DETechnologies</title>
	</head>
	<body class="bg-stone-900">
		<Navbar client:load />
		<slot class="" />
	</body>
</html>
