---
import { Navbar } from '../components/NavBar.jsx';
import Footer from '../components/Footer.astro';
---
<div class="bg-gray-500 w-screen">
	<Navbar client:load />
	<slot />
	<Footer />
</div>

<head>
{/* ===== Google Analytics Script Block ===== */}
    {
      import.meta.env.PROD && (
        <>
          <script
            async
            src={`https://www.googletagmanager.com/gtag/js?id=${import.meta.env.PUBLIC_GA_ID}`}
          />
          <script
            is:inline
            define:vars={{
              gaId: import.meta.env.PUBLIC_GA_ID,
            }}
          >
            window.dataLayer = window.dataLayer || [];
            function gtag() {
              dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", gaId);
          </script>
        </>
      )
    }
{/* ======================================= */}
</head>

<body>
	<script is:inline>
		document.addEventListener('astro:after-swap', () => {
			if (typeof gtag === 'function' && typeof import.meta.env.PUBLIC_GA_ID !== 'undefined') {
			gtag('event', 'page_view', {
				page_path: location.pathname,
				page_location: location.href,
			});
			}
		});
	</script>
</body>